/* 
ul {
    display: inline-flex;
}

.genre-title {
    font-weight: 600;
}

.genre-container {
    margin: 10px;
    padding: 5px;
    display: inline-flex;
}

li {
    margin: 5px;
    padding: 3px;
    background-color: gray;
} */